<div class="footer-admin">
    <div class="footer-logo">
        <img src="./images/logo-dark.svg" alt="">
    </div>
    <div class="footer-copyright">
        <p class="footer-lttin">&copy; Copyright 2023 Gadgets. All rights reserved | Design by
            <a href="#">LTTin</a>
        </p>
    </div>
</div>
</div>
</div>
</div>
</section>


<!-- BS5 JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>