.slick-prev {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  background-color: $color-white-0;
  width: 40px;
  height: 40px;
  z-index: 1;
  left: -10px;
  transition: 0.3s;
  &::before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(../../img/btn-prev.png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
  }
  &:hover {
    background-color: $color-blue-1;
    &::before {
      filter: brightness(0) invert(1);
    }
  }
}
.slick-next {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  background-color: $color-white-0;
  width: 40px;
  height: 40px;
  z-index: 1;
  right: -10px;
  transition: 0.3s;
  &::before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(../../img/btn-next.png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
  }
  &:hover {
    background-color: $color-blue-1;
    &::before {
      filter: brightness(0) invert(1);
    }
  }
}
