<%- include('../../partials/headerAdmin') %>

    <div class="content-admin">
        <div class="content-adminTop">
            <h2>Quản lý loại sản phẩm</h2>
            <div class="admin-btnAdd">
                <a class="btn--add" href="formAddCate.html"><i class="fa fa-plus"></i> Thêm loại sản
                    phẩm</a>
            </div>
        </div>
        <div class="content-adminBottom">
            <table>
                <thead>
                    <th>mã loại SP</th>
                    <th>tên loại SP</th>
                    <th>thao tác</th>
                </thead>
                <tbody class="infoCate">

                </tbody>
            </table>
        </div>
    </div>

    <%- include('../../partials/footerAdmin') %>