.forgotPassword {
  .forgotPassword__form {
    .forgotPassword__btn {
      margin-top: $mg-2;
    }
    .forgotPassword__login {
      margin-top: $mg-2;
      text-align: center;
      a {
        text-decoration: none;
        font-weight: $fw-2;
        color: $color-blue-1;
      }
    }
  }
}
