//color
$color-black-0: #111518;
$color-black-1: #1e1e1e;
$color-black-2: #242629;
$color-black-3: rgba(0, 0, 0, 0.6);
$color-white-0: #fff;
$color-white-1: #f3f5f7;
$color-white-2: #e6e6e6;
$color-white-3: rgba(255, 255, 255, 0.7);
$color-white-4: #f7f7f7;
$color-gray-0: #999;
$color-gray-1: #e3e3e3;
$color-gray-2: #e6e6e6;
$color-gray-3: #666;
$color-yellow-0: #ffc750;
$color-purple-0: #7755ff;
$color-purple-1: #4923e6;
$color-green-0: #09917f;
$color-blue-0: #1aaed7;
$color-blue-1: #18a0c6;
$color-blue-2: rgba(24, 160, 198, 0.3);
$color-blue-3: #3b5998;
$color-blue-4: #7ed6df;
$color-red-0: #f77066;
$color-red-1: #dd4c3b;
$color-red-2: #f44336;

// font-size
$fs-0: 14px;
$fs-1: 16px;
$fs-2: 20px;
$fs-3: 60px;
$fs-4: 12px;
$fs-5: 18px;
$fs-6: 30px;
$fs-7: 35px;
$fs-8: 25px;

// font-weight
$fw-0: 300;
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

// padding
$pd-0: 15px;
$pd-1: 8px;
$pd-2: 25px;
$pd-3: 50px;
$pd-4: 20px;
$pd-5: 10px;
$pd-6: 130px;
$pd-7: 35px;
$pd-8: 40px;
$pd-9: 30px;
$pd-10: 75px;
$pd-11: 150px;

// margin
$mg-0: 40px;
$mg-1: 30px;
$mg-2: 10px;
$mg-3: 20px;
$mg-4: 5px;
$mg-5: 15px;

// border-radius
$border-radius-0: 10px;
$border-radius-1: 5px;
$border-radius-2: 15px;

// line-height
$lh-0: 1.1;
