<%- include('../partials/header') %>

    <!-- LOGIN FORM -->
    <div class="form-gadgets login">
        <div class="form-container login__form">
            <form class="form-user" action="/loginUser" method="post">
                <div class="login__content">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email" placeholder="Email"><br>
                    <label for="password">Mật khẩu</label><br>
                    <input type="password" name="password" id="password" placeholder="Mật khẩu">
                </div>
                <div class="login__save">
                    <input type="checkbox" name="save">
                    <label for="save">Ghi nhớ tài khoản</label>
                </div>
                <div class="login__btn">
                    <button class="btn--login">Đăng nhập</button>
                </div>
                <div class="login__forget">
                    <span>hoặc <a href="forgotPassword.html">Quên mật khẩu</a></span>
                </div>
                <div class="login__register">
                    <span>Không có tài khoản ? <a href="/register">Đăng ký</a></span>
                </div>
                <div class="login__social">
                    <div class="login__facebook">
                        <a href="#">Đăng nhập bằng Facebook</a>
                    </div>
                    <div class="login__google">
                        <a href="#">Đăng nhập bằng Google</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <%- include('../partials/footer') %>