<%- include('../../partials/headerAdmin') %>

    <div class="content-admin">
        <div class="content-adminTop">
            <h2>Quản lý sản phẩm</h2>
            <div class="admin-btnAdd">
                <a class="btn--add" href="formAddPd.html"><i class="fa fa-plus"></i> Thêm sản
                    phẩm</a>
            </div>
        </div>
        <div class="content-adminBottom">
            <table>
                <thead>
                    <th>id</th>
                    <th>tên sản phẩm</th>
                    <th>hình ảnh</th>
                    <th>giá</th>
                    <th>mức giảm giá</th>
                    <th>lượt mua</th>
                    <th>thương hiệu</th>
                    <th>thao tác</th>
                </thead>
                <tbody class="infoCate">

                </tbody>
            </table>
        </div>
    </div>

    <%- include('../../partials/footerAdmin') %>